<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Forget Password</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <link rel="icon" type="image/png" href="/img/flog.png">
</head>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
<body>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-xm-12 align-items-center">
          <div class="text-center">
            <img alt="Vue logo" src="/img/flog.png" class="logo">
            <h1 class="login-h1">Reset Password</h1>
          </div>
          </h6>
          <form id="admin-reset-passwor" method="POST" action="/reset-password">
            <input class="form-input" type="hidden" name="role" value="<%= role %>">
            <% if(user.email) { %>
            <input class="form-input" type="hidden" name="id" value="<%= user._id %>">
            <div class="my-form-group">
              <input class="form-input" type="email" name="email" disabled value="<%= user.email %>" style="cursor:no-drop; background-color:grey">
              <% if (error.email) { %>
              <label class="error"><%= error.email.msg %></label>
              <% } %>
            </div>
            <% } %>
            <% if(rider.email) { %>
            <input class="form-input" type="hidden" name="id" value="<%= rider._id %>">
            <div class="my-form-group">
              <input class="form-input" type="email" name="email" disabled value="<%= rider.email.value %>" style="cursor:no-drop; background-color:grey">
              <% if (error.email) { %>
              <label class="error"><%= error.email.msg %></label>
              <% } %>
            </div>
            <% } %>
            <div class="my-form-group">
              <input class="form-input" type="password" name="newPassword" id="newPassword" placeholder="New Password">
              <% if (error.newPassword) { %>
              <label class="error"><%= error.newPassword.msg %></label>
              <% } %>
            </div>
            <div class="my-form-group">
              <input class="form-input" type="password" name="confirmPassword" placeholder="Confirm New Password">
              <% if (error.confirmPassword) { %>
              <label class="error"><%= error.confirmPassword.msg %></label>
              <% } %>
            </div>
            <div class="my-form-group">
              <button class="login-button" type="submit">Reset Password</button>
            </div>
          </form>
          <div class="forget-password">
            <a href="/forget-password">Forget Password?</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- <script type="text/javascript" src="js/bootstrap.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>
  <script>
    $(document).ready(function() {
      $.validator.addMethod("passwordFormatCheck", function(value, element) {
        return this.optional(element) || /^(?=.*\d)(?=.*[A-Z])(?=.*\W).*$/i.test(value);
      }, 'Password must contain one capital letter,one numerical and one special character');

      $('#admin-reset-password').validate({
        rules: {
          newPassword: {
            required: true,
            passwordFormatCheck: true,
          },
          confirmPassword: {
            required: true,
            equalTo: "#newPassword"
          }
        },
        messages: {
          newPassword: {
            required: "New Password is required",
          },
          confirmPassword: {
            required: "Confirm Password is required",
            equalTo: "Password did not match"
          }
        },
        submitHandler: function(form) {
          $("#submit").attr("disabled", true).click(function(e) {
            e.preventDefault();
          });
          $("#ibtn2").show();
          $("#submit").text("Signing in...");
          form.submit();
        }
      });
    })
  </script>
</body>
<%- include("./alert") %>
</html>