<%- include("../partials/header") %>

<body>

  <!-- <body data-layout="horizontal"> -->

  <!-- Begin page -->
  <div id="layout-wrapper">
    <%- include("../partials/top-nav") %>
    <%- include("../partials/sidemenu") %>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

      <div class="page-content">
        <div class="container-fluid">
          <!-- start page title -->
          <div class="row">
            <div class="col-12">
              <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18 text-capitalize"><%= getUser.companyName %> Profile</h4>

                <div class="page-title-right">
                  <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active text-capitalize"><%= getUser.companyName %> Profile</li>
                  </ol>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm order-2 order-sm-1">
                      <div class="d-flex align-items-start mt-3 mt-sm-0">
                        <div class="flex-shrink-0">
                          <div class="avatar-xl me-3">
                            <% if(getUser.profilePicture.value){ %>
                            <img src="data:<%= getUser.profilePicture.mimeType %>;base64, <%= getUser.profilePicture.value %>" alt="user" alt="" class="img-fluid rounded-circle d-block">
                            <% }else{ %>
                            <img src="/img/avatar.jpg" alt="" class="img-fluid rounded-circle d-block">
                            <% } %>
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <div>
                            <h5 class="font-size-16 mb-1 text-capitalize"><%= getUser.companyName %></h5>
                            <p class="text-muted font-size-13 text-capitalize"><%= getUser.email.value %></p>

                            <div class="d-flex flex-wrap align-items-start gap-2 gap-lg-3 text-muted font-size-13">
                              <div><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i><%= getUser.mobile.value %></div>
                              <div><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>
                                <%if(getUser.status ==='Approved' ){ %>
                                <button class="btn btn-soft-success waves-effect waves-light btn-sm">
                                  <%= getUser.status %>
                                </button>
                                <% } else if(getUser.status==='Pending' ){ %>
                                <button class="btn btn-soft-primary waves-effect waves-light btn-sm">
                                  <%= getUser.status %>
                                </button>
                                <% } else if(getUser.status==='Blocked' || getUser.status==='Deleted'){ %>
                                <button class="btn btn-soft-danger waves-effect waves-light btn-sm">
                                  <%= getUser.status %>
                                </button>
                                <% } %>
                              </div>
                              <div><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>
                                <button class="btn btn-soft-success waves-effect waves-light btn-sm">
                                <% if(getUser.bikes) { %>
                                <%= getUser.bikes %> bikes
                                <% }else{ %>
                                0 bikes
                                <% } %>
                                </button>
                              </div>
                              <div>
                              <i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>
                                <%= moment(getUser.createdAt).format('Do MMMM,YYYY') %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-auto order-1 order-sm-2">
                      <div class="d-flex align-items-start justify-content-end gap-2">
                        <div>
                         <% if(getUser.status==='Pending'){ %>
                          <a href="/fleet-status/<%= getUser.id %>/1" onclick="return confirm('Are you sure you want to Approve this Fleet?')" title="Approve" data-bs-toggle="tooltip" data-bs-placement="top" class="btn btn-soft-success waves-effect waves-light">Approve Fleet</a>
                          <% }else if(getUser.status==='Approved'){ %>
                          <a href="/fleet-status/<%= getUser.id %>/0" onclick="return confirm('Are you sure you want to Block this Fleet?')" title="Block" data-bs-toggle="tooltip" data-bs-placement="top" class="btn btn-soft-danger waves-effect waves-light">Block Fleet</a>
                          <% }else if(getUser.status==='Blocked'){ %>
                          <a href="/fleet-status/<%= getUser.id %>/1" onclick="return confirm('Are you sure you want to Unblock this Fleet?')" title="Unblock" data-bs-toggle="tooltip" data-bs-placement="top" class="btn btn-soft-success waves-effect waves-light">Unblock Fleet</a>
                          <% } %>
                          <a href="/edit-fleet/<%= getUser.id %>" class="btn btn-soft-success btn-block">Edit Fleet</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <ul class="nav nav-tabs-custom card-header-tabs border-top mt-4" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link px-3 active" data-bs-toggle="tab" href="#profile" role="tab">Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link px-3" data-bs-toggle="tab" href="#details" role="tab">Fleet Owner Details</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link px-3" data-bs-toggle="tab" href="#earning" role="tab">Earnings</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link px-" data-bs-toggle="tab" href="#riders" role="tab">Riders</a>
                    </li>
                  </ul>
                </div>
                <!-- end card body -->
              </div>
              <!-- end card -->

              <div class="tab-content">
                <div class="tab-pane" id="earning" role="tabpanel">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="card-title mb-0"><%= getUser.fullName %> Earnings</h5>
                    </div>
                    <div class="card-body">
                      <div>
                        <div class="pb-3">
                          <div class="row">
                            <div class="col-xl-2">
                              <div>
                                <h5 class="font-size-12 text-muted">Current Week :</h5>
                              </div>
                            </div>
                            <div class="col-xl">
                              <div>
                                <h5 class="font-size-18"></h5>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="py-2">
                          <div class="row">
                            <div class="col-xl-2">
                              <div>
                                <h5 class="font-size-12 text-muted">Current Month :</h5>
                              </div>
                            </div>
                            <div class="col-xl">
                              <div>
                                <h5 class="font-size-18"></h5>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="py-2">
                          <div class="row">
                            <div class="col-xl-2">
                              <div>
                                <h5 class="font-size-12 text-muted">Last Three Month :</h5>
                              </div>
                            </div>
                            <div class="col-xl">
                              <div>
                                <h5 class="font-size-18"></h5>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <!-- end card body -->
                  </div>
                  <!-- end card -->
                </div>
                
                <div class="tab-pane" id="details" role="tabpanel">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="card-title mb-0"><%= getUser.companyName %> Account Details</h5>
                    </div>
                    <div class="card-body">
                      <div>
                        <div class="pb-3">
                          <div class="row">
                            <div class="col-xl-2">
                              <div>
                                <h5 class="font-size-12 text-muted">Bank :</h5>
                              </div>
                            </div>
                            <div class="col-xl">
                              <div>
                                <h5 class="font-size-18"><%= getUser.accountDetails.bankName %></h5>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="py-2">
                          <div class="row">
                            <div class="col-xl-2">
                              <div>
                                <h5 class="font-size-12 text-muted">Account Name :</h5>
                              </div>
                            </div>
                            <div class="col-xl">
                              <div>
                                <h5 class="font-size-18"><%= getUser.accountDetails.accountName %></h5>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="py-2">
                          <div class="row">
                            <div class="col-xl-2">
                              <div>
                                <h5 class="font-size-12 text-muted">Account Number :</h5>
                              </div>
                            </div>
                            <div class="col-xl">
                              <div>
                                <h5 class="font-size-18"><%= getUser.accountDetails.accountNumber %></h5>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="py-2">
                          <div class="row">
                            <div class="col-xl-2">
                              <div>
                                <h5 class="font-size-12 text-muted">Reg Number :</h5>
                              </div>
                            </div>
                            <div class="col-xl">
                              <div>
                                <h5 class="font-size-18"><%= getUser.RGNumber %></h5>
                              </div>
                            </div>
                          </div>
                        </div>        

                        <div class="py-2">
                          <div class="row">
                            <div class="col-xl-2">
                              <div>
                                <h5 class="font-size-12 text-muted">City :</h5>
                              </div>
                            </div>
                            <div class="col-xl">
                              <div>
                                <h5 class="font-size-18"><%= getUser.city %></h5>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <!-- end card body -->
                  </div>
                  <!-- end card -->
                </div>

                <div class="tab-pane active" id="profile" role="tabpanel">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="card-title mb-0"><%= getUser.fullName %> Profile</h5>
                    </div>
                    <div class="card-body">
                      <div>
                        <div class="pb-3">
                          <div class="row">
                            <div class="col-xl-2">
                              <div>
                                <h5 class="font-size-12 text-muted">Company Name :</h5>
                              </div>
                            </div>
                            <div class="col-xl">
                              <div>
                                <h5 class="font-size-18"><%= getUser.companyName %></h5>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="py-2">
                          <div class="row">
                            <div class="col-xl-2">
                              <div>
                                <h5 class="font-size-12 text-muted">Email :</h5>
                              </div>
                            </div>
                            <div class="col-xl">
                              <div>
                                <h5 class="font-size-18"><%= getUser.email.value %></h5>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="py-2">
                          <div class="row">
                            <div class="col-xl-2">
                              <div>
                                <h5 class="font-size-12 text-muted">Phone Number :</h5>
                              </div>
                            </div>
                            <div class="col-xl">
                              <div>
                                <h5 class="font-size-18"><%= getUser.mobile.value %></h5>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="py-2">
                          <div class="row">
                            <div class="col-xl-2">
                              <div>
                                <h5 class="font-size-12 text-muted">Account Status :</h5>
                              </div>
                            </div>
                            <div class="col-xl">
                              <div>
                                <h5 class="font-size-18">
                                  <%if(getUser.status==='Approved' ){ %>
                                  <button class="btn btn-soft-success waves-effect waves-light btn-sm">
                                    <%= getUser.status %>
                                  </button>
                                  <% } else if(getUser.status==='Pending' ){ %>
                                  <button class="btn btn-soft-primary waves-effect waves-light btn-sm">
                                    <%= getUser.status %>
                                  </button>
                                  <% } else if(getUser.status==='Blocked' || getUser.status==='Deleted'){ %>
                                  <button class="btn btn-soft-danger waves-effect waves-light btn-sm">
                                    <%= getUser.status %>
                                  </button>
                                  <% } %>
                                </h5>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="py-2">
                          <div class="row">
                            <div class="col-xl-2">
                              <div>
                                <h5 class="font-size-12 text-muted">Bank Name :</h5>
                              </div>
                            </div>
                            <div class="col-xl">
                              <div>
                                <h5 class="font-size-18"><%= getUser.accountDetails.bankName %></h5>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="py-2">
                          <div class="row">
                            <div class="col-xl-2">
                              <div>
                                <h5 class="font-size-12 text-muted">Account Name :</h5>
                              </div>
                            </div>
                            <div class="col-xl">
                              <div>
                                <h5 class="font-size-18"><%= getUser.accountDetails.accountName %></h5>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="py-2">
                          <div class="row">
                            <div class="col-xl-2">
                              <div>
                                <h5 class="font-size-12 text-muted">Account Number :</h5>
                              </div>
                            </div>
                            <div class="col-xl">
                              <div>
                                <h5 class="font-size-18"><%= getUser.accountDetails.accountNumber %></h5>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="py-2">
                          <div class="row">
                            <div class="col-xl-2">
                              <div>
                                <h5 class="font-size-12 text-muted">Registered On :</h5>
                              </div>
                            </div>
                            <div class="col-xl">
                              <div>
                                <h5 class="font-size-18"><%= moment(getUser.createdAt).format('Do MMMM,YYYY') %></h5>
                              </div>
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                    <!-- end card body -->
                  </div>
                  <!-- end card -->
                </div>


                <div class="tab-pane" id="riders" role="tabpanel">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">All Riders</h4>
                      <div class="table-responsive">
                        <table id="" class="table table-bordered dt-responsive  nowrap w-100">
                          <thead>
                            <tr>
                              <th>S/N</th>
                              <th>Rider</th>
                              <th>Full Name</th>
                              <th>Email</th>
                              <th>Phone Number</th>
                              <th>Account Status</th>
                              <th>Registered On</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% getRiders.forEach(function(user) { %>
                            <tr>
                              <td><%= sn++ %></td>
                              <td class="py-1">
                                <% if(user.profilePicture.value){ %>
                                <img src="data:<%= user.profilePicture.mimeType %>;base64, <%= user.profilePicture.value %>" alt="user" class="rounded-circle header-profile-user">
                                <% }else{ %>
                                <img src="/img/avatar.jpg" alt="user" class="rounded-circle header-profile-user">
                                <% } %>
                              </td>
                              <td><b><a href="/view-rider/<%= user.id %>"><%= user.fullName %></a></b></td>
                              <td><%= user.email.value %></td>
                              <td><%= user.mobile.value %></td>
                              <td>
                                <%if(user.status.account ==='Approved' ){ %>
                                <button class="btn btn-soft-success waves-effect waves-light btn-rounded">
                                  <%= user.status.account %>
                                </button>
                                <% } else if(user.status.account ==='Pending' ){ %>
                                <button class="btn btn-soft-primary waves-effect waves-light btn-rounded">
                                  <%= user.status.account %>
                                </button>
                                <% } else if(user.status.account ==='Blocked' || user.status.account ==='Deleted'){ %>
                                <button class="btn btn-soft-danger waves-effect waves-light btn-rounded">
                                  <%= user.status.account %><% } %>
                                </button>
                              </td>
                              <td><%= moment(user.createdAt).format('Do MMMM, YYYY') %></td>
                              <td>
                                <a href="/view-rider/<%= user.id %>" class="btn btn-soft-success waves-effect waves-light" title="View" data-bs-toggle="tooltip" data-bs-placement="top"><i class="fa fa-eye font-size-16 align-middle"></i></a>
                                </td>
                            </tr>
                            <% }); %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
      <!-- End Page-content -->
    </div>
    <!-- end main content-->

  </div>

  <%- include("../partials/footer") %>

  <div class="rightbar-overlay"></div>


  <%- include("../partials/script") %>
</body>

<script>
  $(document).ready(function() {
    $('table.table-bordered').DataTable();
  });
</script>
<!-- Mirrored from themesbrand.com/minia/layouts/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 Sep 2021 12:48:41 GMT -->

</html>